// PC  < 1484px
@media only screen and (max-width: 2600px) {
  .header-wrapper {
    .logo {
      .menu-icon {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1484px) {
}

// PC < 1440px
@media only screen and (max-width: 1440px) {
}

// PC < 1370px
@media only screen and (max-width: 1370px) {
  .header {
    &-wrapper__icons {
      gap: 0;
      .icons_social {
        margin: 0;
      }
    }
  }
}

// PC < 1200px
@media only screen and (max-width: 1200px) {
}

// Ipad < 1024px
@media only screen and (max-width: 1024px) {
  .header {
    .logo {
      display: none;
    }
  }
}

// Tablet < 992px
@media only screen and (max-width: 992px) {
}

// Moblie < 868px
@media only screen and (max-width: 868px) {
  .header {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo {
        width: 30px;
        display: block;

        .img {
          display: none;
        }

        .menu-icon {
          display: block;
          font-size: 26px;
        }
      }

      &__menu {
        display: none;
      }

      &__icons {
        width: 70%;
        justify-content: end;

        .icons_social {
          gap: 10px;
          margin: 0;
        }

        .icons_setting {
          margin: 0;
        }
      }
    }
  }
}

// Moblie < 768px
@media only screen and (max-width: 768px) {
}

// Mobile < 576px
@media screen and (max-width: 576px) {
}
